.calculadora {
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  justify-content: center;
}

.calculadora > div, .calculadora > input{
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

.calculadora > input, #btnigual{
	width: 100%;
}

.calculadora > div:hover, #btnigual:hover {
	opacity: 0.5;
}
